<% include ../partials/header %>

<h2 class="text-center mt-5" style="  color: #4e73df;">Hubelia Organizational Chart</h2>
<section class=" d-flex justify-content-center">
    
<div class="tree m-2">
    <ul>
		<li>
			<a class="shadow-sm " href="#">Reggies Massie
			<div>Owner</div>
			</a>
			
			<ul>
				
				<li>
					<a class="shadow-sm" href="#">Virgile Levesque-Prevost
					<div>CEO</div>
					</a>
					<ul>
						
				
						<li>	
							<ul>
								<li>
									<a class="shadow-sm" href="#">Erika Desrochers
									<div>Head Developer</div>
									</a>
									<ul>
										<li><a class="shadow-sm" href="#">Jean-Pierre Roy
										<div>Developer</div>
										</a></li>
									</ul>
								</li>
							
								<li>
									<a class="shadow-sm" href="#">Olivier Lavalee Valois
									<div>Human Resources</div>

									</a>
								</li>
							</ul>
						</li>
						
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
</section>
          <% include ../partials/footer %>
