<% include ../partials/header %>
<div class="col-lg-auto px-0  justify-content-center">

    <div class="col-lg-8 mx-lg-auto">
        <h5 class="text-center pt-lg-2"> View Suggestions of <%=suggestion.firstName%></h5>
                <!-- Area Chart -->
            <div class="col-lg-12" id="one">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row justify-content-center">
                  <h6 class="m-0 font-weight-bold text-primary">Suggestions Box</h6>
                  </div>
                <!-- Card Body -->
          
         <% suggestion.suggestions.forEach( function(x){ %>
           <div class="card-body">
                  <h5 class="card-title"> <%= x.title %></h5>
                  <p class="card-text"><%= x.comment %></p>
                  </div>
                 
                    <hr class="mb-0">
                  <% }) %>
                </div>
                <button type="button" class="btn btn-info"><a href="/profile">Return Back To Profile</a></button>
              </div>
    </div>
            




<% include ../partials/footer %>